In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
from statsmodels.graphics.api import qqplot
from sklearn.metrics import mean_squared_error as mse
%matplotlib inline

In [3]:
dta = pd.read_excel(r'C:/Users/Acer/Desktop/Research/Market indices DailyOneSector.xlsx', header =0)
dta.head()

        Date   ASPI  Banks_finance_insurance
0 1985-01-02  96.09                    84.88
1 1985-01-03  96.08                    85.07
2 1985-01-04  96.05                    85.07
3 1985-01-07  96.18                    86.82
4 1985-01-08  96.34                    87.58